@use "./variables" as *;
@use "./base";


.section_revivs {
    padding: 100px 0;
    background: $color-white;

    .section_revivs_logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 350px;
        margin-bottom: 100px;
        flex-wrap: wrap;

        &_service {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            & img:hover {
                    opacity: 50%;
            }

            .lolo_stars {
                display: flex;
                align-items: center;
                gap: 2px;
            }
        }
    }
}

.section_revivs_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 55px;
    justify-content: space-between;

    & img:hover {
        opacity: 50%;
    }

    .content_photo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.revievs {
    max-width: 381px;
}

.revievs_person {
    margin-top: 12px;
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;

    & img {
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .section_revivs_content {
        gap: 30px;
        justify-content: center;
    }

    .section_revivs .section_revivs_logo {
        gap: 150px;
    }
}

@media screen and (max-width: 757px) {
    .section_revivs {
        padding: 60px 0;

        .content_reviev {
            order: 1;
        }
        
        .content_photo {
            gap: 50px;
            order: 2;
        }

        .section_revivs .section_revivs_logo {
            gap: 15px;
            margin-bottom: 50px;
        }
    }
        
}
