@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-family: Roboto, sans-serif;
$color-black: #000000;
$color-white:#ffffff;
$color-main: #3D5675;
$color-main-hover: #6cabf8;
$color-main-text: #011F3A;
$color-grey: #A1A1A1;
$color-text: #777777;
$background-orange: #F2AE4D;
$background-grey: #E5E5E5;
$background-light: #EEEEEE;
$background-footer: #F2F3F4;
$background-green: #72BDA3;
$background-yellow: #FFCA3A;
$background-card: #EDEDED;